*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
body{ 
    background-color: hsl(217, 54%, 11%);

} 

p{
    font-size: 18px; 
    font-family: 'Outfit', sans-serif; 
}

p{
    color: hsl(215, 51%, 70%); 
} 

p,
h2{ 
    font-family: 'Outfit', sans-serif; 
}

h2,
span{
    color: hsl(0, 0%, 100%);  
}

.container{ 
    background-color: hsl(216, 50%, 16%); 
    padding: 1em;  
    margin: 0 auto; 
    padding-bottom: 0;     
    width: 80%; 
    min-width: 330px;    
    max-width: 330px;
    position: absolute; 
    transform: translate(-50%,-50%);    
    top: 50%;
    left: 50%;       
         
}

.overlay{
    position: absolute;
    top: 32%;        
    left: 0;
    right: 0; 
    background: black; 
}

.content{
    position: absolute;
    top: 50%;       
    left: 50%; 
    padding: 8.1em;         
    opacity: 0;     
    transition: opacity 0.4s ease-in-out; 
    transform: translate(-50%, -50%);
    background-color: hsl(178, 100%, 50%); 
    border-radius: 20px; 
}

.content:hover{  
    opacity: 0.6;      
    cursor: pointer;  
}


.container,
.container img{
    border-radius: 20px; 
}

.container img{
    width: 100%;
    object-fit: cover;   
}

.container-card h2:hover,
.container-creator span:hover{ 
    color:hsl(178, 100%, 50%); 
    cursor: pointer;  
}

.container-card,
.container-creator{
    padding: .5em; 
}

.container-card{  
    border-bottom: 1px solid  hsl(215, 32%, 27%);  
}

.container-card h2{   
    padding-bottom: .85em;   
} 

.container-subinfo,
.container-flex,
.container-creator{   
    display: flex; 
      
}

.container-subinfo{
    margin-top:1em;  
    justify-content: space-between; 
}
 
.container-flex{ 
    width: 38%;              
    justify-content: space-between;   
}

#eth-color{ 
    color: hsl(178, 100%, 50%); 
}

.container-subinfo svg{ 
    margin-top: .15em;     
}

.container-creator{
     
    padding: 1em;     
} 

.container-creator img{
    width: 30px;  
    border: 1px solid white;    
    object-fit: cover; 
    margin-right: 1em; 
} 






