*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
body{ 
    background-color: hsl(217, 54%, 11%);

}

p{
    font-size: 18px; 
    font-family: 'Outfit', sans-serif; 
}

p,
h2{
    font-family: 'Outfit', sans-serif; 
    color: hsl(0, 0%, 100%); 
}

.container{ 
    background-color: hsl(216, 50%, 16%);
    border: 1px solid yellow; 
    padding: 1em; 
    margin: 2em auto; 
    width: 80%; 
    min-width: 300px;   
    max-width: 450px;   
}

.container,
.container img{
    border-radius: 20px; 
}

.container img{
    width: 100%;
    object-fit: cover; 
}



